
<div class="container">
  <div class="row">
      <!-- My Properties -->
      <div class="col-md-9 col-sm-10">
          <section id="my-properties">
              <header><h1>My Properties</h1></header>
              <div class="my-properties">
                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                          <tr>
                              <th>Property</th>
                              <th></th>
                              <th>Date Added</th>
                              <th>Views</th>
                              <th>Actions</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                              <td class="image">
                                  <a href="property-detail.html"><img alt="" src="assets/img/properties/property-04.jpg"></a>
                              </td>
                              <td><div class="inner">
                                  <a href="property-detail.html"><h2>987 Cantebury Drive</h2></a>
                                  <figure>Golden Valley, MN 55427</figure>
                                  <div class="tag price">$ 38,000</div>
                              </div>
                              </td>
                              <td>20.05.2014</td>
                              <td>236</td>
                              <td class="actions">
                                  <a href="#" class="edit"><i class="fa fa-pencil"></i>Edit</a>
                                  <a href="#"><i class="delete fa fa-trash-o"></i></a>
                              </td>
                          </tr>
                          <tr>
                              <td class="image">
                                  <a href="property-detail.html"><img alt="" src="assets/img/properties/property-02.jpg"></a>
                              </td>
                              <td><div class="inner">
                                  <a href="property-detail.html"><h2>3398 Lodgeville Road</h2></a>
                                  <figure>Golden Valley, MN 55427</figure>
                                  <div class="tag price">$ 135,000</div>
                              </div>
                              </td>
                              <td>06.05.2014</td>
                              <td>662</td>
                              <td class="actions">
                                  <a href="#" class="edit"><i class="fa fa-pencil"></i>Edit</a>
                                  <a href="#"><i class="delete fa fa-trash-o"></i></a>
                              </td>
                          </tr>
                          <tr>
                              <td class="image">
                                  <a href="property-detail.html"><img alt="" src="assets/img/properties/property-01.jpg"></a>
                              </td>
                              <td><div class="inner">
                                  <a href="property-detail.html"><h2>1179 Stroop Hill Road</h2></a>
                                  <figure>Atlanta, GA 30309</figure>
                                  <div class="tag price">$ 26,000</div>
                              </div>
                              </td>
                              <td>29.04.2014</td>
                              <td>85</td>
                              <td class="actions">
                                  <a href="#" class="edit"><i class="fa fa-pencil"></i>Edit</a>
                                  <a href="#"><i class="delete fa fa-trash-o"></i></a>
                              </td>
                          </tr>
                          <tr>
                              <td class="image">
                                  <a href="property-detail.html"><img alt="" src="assets/img/properties/property-06.jpg"></a>
                              </td>
                              <td><div class="inner">
                                  <a href="property-detail.html"><h2>1028 Henery Street</h2></a>
                                  <figure>Wichita, KS 67202</figure>
                                  <div class="tag price">$ 47,000</div>
                              </div>
                              </td>
                              <td>22.04.2014</td>
                              <td>357</td>
                              <td class="actions">
                                  <a href="#" class="edit"><i class="fa fa-pencil"></i>Edit</a>
                                  <a href="#"><i class="delete fa fa-trash-o"></i></a>
                              </td>
                          </tr>
                          <tr>
                              <td class="image">
                                  <a href="property-detail.html"><img alt="" src="assets/img/properties/property-07.jpg"></a>
                              </td>
                              <td><div class="inner">
                                  <a href="property-detail.html"><h2>4068 Diamond Street</h2></a>
                                  <figure>Charlotte, NC 28217 </figure>
                                  <div class="tag price">$ 980,000</div>
                              </div>
                              </td>
                              <td>16.03.2014</td>
                              <td>456</td>
                              <td class="actions">
                                  <a href="#" class="edit"><i class="fa fa-pencil"></i>Edit</a>
                                  <a href="#"><i class="delete fa fa-trash-o"></i></a>
                              </td>
                          </tr>
                          <tr>
                              <td class="image">
                                  <a href="property-detail.html"><img alt="" src="assets/img/properties/property-08.jpg"></a>
                              </td>
                              <td><div class="inner">
                                  <a href="property-detail.html"><h2>2088 May Street</h2></a>
                                  <figure>Somerset, KY 42503 </figure>
                                  <div class="tag price">$ 11,000</div>
                              </div>
                              </td>
                              <td>18.02.2014</td>
                              <td>267</td>
                              <td class="actions">
                                  <a href="#" class="edit"><i class="fa fa-pencil"></i>Edit</a>
                                  <a href="#"><i class="delete fa fa-trash-o"></i></a>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </div><!-- /.table-responsive -->
                  <!-- Pagination -->
                  <div class="center">
                      <ul class="pagination">
                          <li class="active"><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                      </ul><!-- /.pagination-->
                  </div><!-- /.center-->
              </div><!-- /.my-properties -->
          </section><!-- /#my-properties -->
      </div><!-- /.col-md-9 -->
      <!-- end My Properties -->
  </div><!-- /.row -->
</div><!-- /.container -->

<!-- <div class="container" style="margin-top: 5%">    
    <table class="table table-striped table-bordered">    
        <thead>    
            <tr>    
                <th>Action</th>    
                <th>Title 1</th>    
                <th>Title 2</th>    
                <th>Title 3</th>    
            </tr>    
        </thead>    
        <tbody>    
             <tr *ngFor="let dynamic of dynamicArray;let i = index;">    
              <td (click)=​"deleteRow(i)"​>    
                <i class="fa fa-trash fa-2x"></i>    
              </td>    
              <td><input></td>
                <td>    
                  <input [(ngModel)]=​"dynamic[i].title1" class="form-control" type="text" />  
                </td>    
                <td>    
                 <input [(ngModel)]=​"dynamicArray[i].title2" class="form-control" type="text" />    
                </td>    
                <td>  
                  <input [(ngModel)]=​"dynamicArray[i].title3" class="form-control" type="text"/>    
                </td>    
            </tr>    
            <tr>    
              <td (click)="addRow(i)">    
                <i class="fa fa-plus fa-2x"></i>    
              </td>    
            </tr>    
        </tbody>    
    </table>    
  </div> -->
  