
  <!-- Map -->
  <div id="map" ></div>
  <!-- end Map -->

  <!-- Search Box -->
  <div class="search-box-wrapper">
      <div class="search-box-inner">
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-sm-4">
                      <div class="search-box map">
                          <form role="form" (submit) = 'search()' id="form-map" class="form-map form-search">
                              <h2>Search Your Property</h2>
                              <div class="form-group">
                                  <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)] = 'valToSearch.status' class="form-control" id="search-box-property-id" placeholder="Property ID">
                              </div>
                              <div>
                                  <select (change)="cat($event)">
                                      <option value="" >Status</option>
                                      <option value="family" (click) = 'cat($event)'>Family</option>
                                      <option value="location">Location</option>
                                  </select>
                              </div> 
                              
                              <div class="form-group">
                                  <div class="price-range">
                                      <input id="price-input" type="text" name="price" value="1000;299000">
                                  </div>
                              </div>
                              <div class="form-group">
                                  <button type="submit" class="btn btn-default">Search Now</button>
                              </div><!-- /.form-group -->
                          </form><!-- /#form-map -->
                      </div><!-- /.search-box.map -->
                  </div><!-- /.col-md-3 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
      </div><!-- /.search-box-inner -->
  </div>
  <!-- end Search Box -->


<!-- Page Content -->
<div id="page-content">
    <section id="banner">
        <div class="block has-dark-background background-color-default-darker center text-banner">
            <div class="container">
                <h1 class="no-bottom-margin no-border">Ogun State Socia-Cultural platform <a href="#" class="text-underline"></a>!</h1>
            </div>
        </div>
    </section><!-- /#banner -->
    <section id="our-services" class="block">
        <div class="container">
            <header class="section-title"><h2>Goal and Objectives</h2></header>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box equal-height">
                        <figure class="icon"><i class="fa fa-folder"></i></figure>
                        <aside class="description">
                            <header><h3>Identification</h3></header>
                            <p>Identify foundational cultural practices and heritage of Ogun State</p>
                            <a href="/About" class="link-arrow">Read More</a>
                        </aside>
                    </div><!-- /.feature-box -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box equal-height">
                        <figure class="icon"><i class="fa fa-users"></i></figure>
                        <aside class="description">
                            <header><h3>Aggregation</h3></header>
                            <p>Aggregate structure and facilitate the growth of our heritage for effective value communication and exchange </p>
                            <a href="agents-listing.html" class="link-arrow">Read More</a>
                        </aside>
                    </div><!-- /.feature-box -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-4 col-sm-4">
                    <div class="feature-box equal-height">
                        <figure class="icon"><i class="fa fa-money"></i></figure>
                        <aside class="description">
                            <header><h3>Enable Business</h3></header>
                            <p>Achive all these profitable and sustainably</p>
                            <a href="#" class="link-arrow">Read More</a>
                        </aside>
                    </div><!-- /.feature-box -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /#our-services -->
    
    <section id="price-drop" class="block">
      <div class="container">
          <header class="section-title">
              <h2>{{actname}} </h2>
              <a href="Category/" class="link-arrow">All Properties</a>
          </header>
          <div class="row">
              <div class="col-md-3 col-sm-6" *ngFor="let r of resec">
                  <div class="property">
                      <a  (click)="navigate(r.id)">
                          <div class="property-image">
                              <img alt="" src="http://localhost/sce-platform/backend/public/upload/uploads/{{r.t_image}}">
                          </div>
                          <div class="overlay">
                              <div class="info">
                                  <div class="tag price" (click)="onClick()">{{r.catname}}</div>
                                  <h3>{{r.name_title}}</h3>
                                  <figure>{{r.about}}</figure>
                              </div>
                              <ul class="additional-info">
                                  <li>
                                      <header>View:</header>
                                      <figure>{{r.view}}<sup>2</sup></figure>
                                  </li>
                                  <li>
                                      <header>Comment:</header>
                                      <figure>23</figure>
                                  </li>
                              </ul>
                          </div>
                      </a>
                  </div><!-- /.property -->
              </div><!-- /.col-md-3 -->
              
            
          </div><!-- /.row-->
      </div><!-- /.container -->
  </section><!-- /#price-drop -->
  <section id="price-drop" class="block">
    <div class="container">
        <header class="section-title">

            <!-- <h2>{{actname}} </h2>
            <a href="Category/" class="link-arrow">All Properties</a>
        </header>
        <div class="row">
            <div class="col-md-3 col-sm-6" *ngFor="let r of resec">
                <div class="property">
                    <a (click)="navigate(r.id)"> -->
            <h2>{{actname1}}</h2>
            <a href="Category/" class="link-arrow">All Properties</a>
        </header>
        <div class="row">
            <div class="col-md-3 col-sm-6" *ngFor="let r of resac">
                <div class="property">
                    <a (click)="navigate(r.id)">
                        <div class="property-image">
                            <img alt="" src="http://localhost/sce-platform/backend/public/upload/uploads/{{r.t_image}}">
                        </div>
                        <div class="overlay">
                            <div class="info">
                                <div class="tag price">{{r.catname}}</div>
                                <h3>{{r.name_title}}</h3>
                                <figure>{{r.about}}</figure>
                            </div>
                            <ul class="additional-info">
                                <li>
                                    <header>View:</header>
                                    <figure>{{r.view}}<sup>2</sup></figure>
                                </li>
                                <li>
                                    <header>Comment:</header>
                                    <figure>23</figure>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div><!-- /.property -->
            </div><!-- /.col-md-3 -->

           
            

        </div><!-- /.row-->
    </div><!-- /.container -->
  </section><!-- /#price-drop -->
  <section id="price-drop" class="block">
  <div class="container">
      <header class="section-title">

          <!-- <h2>{{actname1}}</h2>
          <a href="Category/" class="link-arrow">All Properties</a>
      </header>
      <div class="row">
          <div class="col-md-3 col-sm-6" *ngFor="let r of resac"> -->

         <h2>{{actname2}}</h2>
          <a  class="link-arrow">All Properties</a>
      </header>
      <div class="row">
          <div class="col-md-3 col-sm-6" *ngFor="let r of resbc">

              <div class="property">
                  <a (click)="navigate(r.id)">
                      <div class="property-image">
                          <img alt="" src="http://localhost/sce-platform/backend/public/upload/uploads/{{r.t_image}}">
                      </div>
                      <div class="overlay">
                        <div class="info">
                            <div class="tag price">{{r.catname}}</div>
                            <h3>{{r.name_title}}</h3>
                            <figure>{{r.about}}</figure>
                        </div>
                        <ul class="additional-info">
                            <li>
                                <header>View:</header>
                                <figure>{{r.view}}<sup>2</sup></figure>
                            </li>
                            <li>
                                <header>Comment:</header>
                                <figure>23</figure>
                            </li>
                        </ul>
                    </div>
                  </a>
              </div><!-- /.property -->
          </div><!-- /.col-md-3 -->

         
          
      </div><!-- /.row-->
  </div><!-- /.container -->
</section><!-- /#price-drop -->

    <aside id="advertising" class="block">
        <div class="container">
            <a href="submit.html">
                <div class="banner">
                    <div class="wrapper">
                        <span class="title">Do you know somthing About Ogun state</span>
                        <span class="submit">Contribute now! <i class="fa fa-plus-square"></i></span>

                    </div>
                </div><!-- /.banner-->
            </a>
        </div>
    </aside><!-- /#adveritsing-->
    <section id="new-properties" class="block">
        <div class="container">
            <header class="section-title">
                <h2>{{actname4}}</h2>
                <a href="properties-listing.html" class="link-arrow">All Properties</a>
            </header>
            <div class="row">
                <div class="col-md-3 col-sm-6" *ngFor="let r of resnc">
                    <div class="property">
                        <a (click)="navigate(r.id)">
                            <div class="property-image">
                                <img alt="" src="http://localhost/sce-platform/backend/public/upload/uploads/{{r.t_image}}">
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="tag price" (click)="onClick()">{{r.catname}}</div>
                                    <h3>{{r.name_title}}</h3>
                                    <figure>{{r.about}}</figure>
                                </div>
                                <ul class="additional-info">
                                    <li>
                                        <header>View:</header>
                                        <figure>{{r.view}}<sup>2</sup></figure>
                                    </li>
                                    <li>
                                        <header>Comment:</header>
                                        <figure>23</figure>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div><!-- /.property -->
                </div><!-- /.col-md-3 -->  
               
               
            </div><!-- /.row-->
        </div><!-- /.container-->
    </section><!-- /#new-properties-->
    <section id="testimonials" class="block">
        <div class="container">
            <header class="section-title"><h2>People</h2></header>
            <div class="owl-carousel testimonials-carousel">
                <blockquote class="testimonial">
                    <figure>
                        <div class="image">
                            <img alt="" src="assets/img/client-01.jpg">
                        </div>
                    </figure>
                    <aside class="cite">
                        <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                        <footer>Natalie Jenkins</footer>
                    </aside>
                </blockquote>
                <blockquote class="testimonial">
                    <figure>
                        <div class="image">
                            <img alt="" src="assets/img/client-01.jpg">
                        </div>
                    </figure>
                    <aside class="cite">
                        <p>Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</p>
                        <footer>Natalie Jenkins</footer>
                    </aside>
                </blockquote>
            </div><!-- /.testimonials-carousel -->
        </div><!-- /.container -->
    </section><!-- /#testimonials -->
    <section id="partners" class="block">
        <div class="container">
            <header class="section-title"><h2>Our Partners</h2></header>
            <div class="logos">
                <div class="logo"><a href=""><img src="assets/img/logo-partner-01.png" alt=""></a></div>
                <div class="logo"><a href=""><img src="assets/img/logo-partner-02.png" alt=""></a></div>
                <div class="logo"><a href=""><img src="assets/img/logo-partner-03.png" alt=""></a></div>
                <div class="logo"><a href=""><img src="assets/img/logo-partner-04.png" alt=""></a></div>
                <div class="logo"><a href=""><img src="assets/img/logo-partner-05.png" alt=""></a></div>
            </div>
        </div><!-- /.container -->
    </section><!-- /#partners -->
  </div>
  <!-- end Page Content -->