<!-- main -->
<!-- <audio src="assets/vid/audio.mp3" autoplay loop></audio> -->
<section class="bg-inverse p-y-0">
        <div class="owl-carousel owl-slide full-height">
          <div class="carousel-item image" >
            <video autoplay controls muted="true" loop id="myVideo">
                    <source src="/assets/vid/video-bg.mp4" type="video/mp4">
                  </video>
            <div class="carousel-overlay"></div>
            <div class="carousel-caption">
              <div>
                    
                <span style="font-family: Monospace; font-size: 40px;">Welcome to</span>
                <h6 class="carousel-title" style="font-size: 100px;">OGUN STATE</h6>
                <p>The gateway state.</p>
                <a class="btn btn-primary btn-rounded btn-shadow btn-lg" [routerLink]="['/platform']" role="button">Visit Platform</a>
              </div>
            </div>
          </div>
          <!-- <div class="carousel-item image2" style="background-image: url('https://img.youtube.com/vi/BhTkoDVgF6s/maxresdefault.jpg');">
            <div class="carousel-overlay"></div>
            <div class="carousel-caption">
              <div>
                <h3 class="carousel-title">The Last of Us: Remastered</h3>
                <p>Survive an apocalypse on Earth in The Last of Us, a PlayStation 4-exclusive title.</p>
                <a class="btn btn-primary btn-rounded btn-shadow btn-lg" href="https://img.youtube.com/vi/BhTkoDVgF6s/maxresdefault.jpg" data-lightbox role="button">Watch Gameplay</a>
              </div>
            </div>
          </div>
          <div class="carousel-item image3" style="background-image: url('https://img.youtube.com/vi/BhTkoDVgF6s/maxresdefault.jpg');">
            <div class="carousel-overlay"></div>
            <div class="carousel-caption">
              <div>
                <h3 class="carousel-title">For Honor: The Berserker</h3>
                <p>Enter the chaos of a raging war as a bold knight, brutal viking, or mysterious samurai.</p>
                <a class="btn btn-primary btn-rounded btn-shadow btn-lg" href="https://www.youtube.com/watch?v=zFUymXnQ5z8" data-lightbox role="button">Watch Gameplay</a>
              </div>
            </div>
          </div> -->
        </div>
      </section>
    
      <!-- <section class="p-y-80">
        <div class="container">
          <div class="heading">
            <i class="fa fa-steam"></i>
            <h2>About Us</h2>
            <p>We are a one-stop-shop for everything that has to do with promoting the social and cultural heritage of Ogun state. We are is focused on creating, identifying, managing, promoting and proposing a single and harmonized platform for exhibiting interphase between social and cultural activities of the people. This platform not only gives users easy access to free knowledge about different places, traditions, cultures and people of the State, but also the opportunity to contribute by posting their own content and engage with that of others.</p>
          </div>
          <div class="row">            
            <div class="col-12 col-sm-6 col-md-4" *ngFor="let rc of resec">
              <div class="card card-lg">
                <div class="card-img">
                  <a href="Content/{{rc.id}}"><img src="https://sabiogun.jtcheck.com/sce-ogun/backend/public/upload/uploads/{{rc.t_image}}" class="card-img-top" alt="Grand Theft Auto Online"></a>
                  <div class="badge badge-xbox-one">{{rc.catname}}</div>
                  <div class="card-likes">
                    <a href="#">{{rc.views}}</a>
                  </div>
                </div>
                <div class="card-block">
                  <h4 class="card-title"><a href="game-post.html">{{rc.name_title}}</a></h4>
                  <div class="card-meta"><span>January 16, 2017</span></div>
                  <p class="card-text">Grand Theft Auto Online is designed to continually expand and evolve over time.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center"><a class="btn btn-primary btn-shadow btn-rounded btn-effect btn-lg m-t-10" href="games.html">Show More</a></div>
        </div>
      </section> -->


<!--     
      <section class="bg-secondary no-border-bottom p-y-80">
        <div class="container">
          <div class="heading">
            <i class="fa fa-star"></i>
            <h2>Featured Contributions</h2>
          </div>
          <div class="owl-carousel owl-list">
            <div class="card card-review">
              <a class="card-img" href="review-post.html">
              <img src="assets/img/review/review-1.jpg" alt="">
              <div class="badge badge-success">7.2</div>
            </a>
              <div class="card-block">
                <h4 class="card-title"><a href="review-post.html">Uncharted 4</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="card card-review">
              <a class="card-img" href="review-post.html">
              <img src="assets/img/review/review-2.jpg" alt="">
              <div class="badge badge-warning">5.4</div>
            </a>
              <div class="card-block">
                <h4 class="card-title"><a href="review-post.html">Hitman: Absolution</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="card card-review">
              <a class="card-img" href="review-post.html">
              <img src="assets/img/review/review-3.jpg" alt="">
              <div class="badge badge-danger">2.1</div>
            </a>
              <div class="card-block">
                <h4 class="card-title"><a href="review-post.html">Last of us: Remastered</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="card card-review">
              <a class="card-img" href="review-post.html">
              <img src="assets/img/review/review-4.jpg" alt="">
              <div class="badge badge-success">7.8</div>
            </a>
              <div class="card-block">
                <h4 class="card-title"><a href="review-post.html">Bioshock: Infinite</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="card card-review">
              <a class="card-img" href="review-post.html">
              <img src="assets/img/review/review-5.jpg" alt="">
              <div class="badge badge-success">8.9</div>
            </a>
              <div class="card-block">
                <h4 class="card-title"><a href="review-post.html">Grand Theft Auto: 5</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="card card-review">
              <a class="card-img" href="review-post.html">
              <img src="assets/img/review/review-6.jpg" alt="">
              <div class="badge badge-warning">4.7</div>
            </a>
              <div class="card-block">
                <h4 class="card-title"><a href="review-post.html">Dayz</a></h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="card card-review">
              <a class="card-img" href="review-post.html">
              <img src="assets/img/review/review-7.jpg" alt="">
              <div class="badge badge-danger">3.1</div>
            </a>
              <div class="card-block">
                <h4 class="card-title">
                  <a href="review-post.html">Liberty City</a>
                </h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </section> -->
    
      <!-- <section class="bg-image" style="background-image: url(https://img.youtube.com/vi/IsDX_LiJT7E/maxresdefault.jpg);">
        <div class="overlay"></div>
        <div class="container">
          <div class="video-play" data-src="https://www.youtube.com/embed/IsDX_LiJT7E?rel=0&amp;amp;autoplay=1&amp;amp;showinfo=0">
            <div class="embed-responsive embed-responsive-16by9">
              <img class="embed-responsive-item" src="https://img.youtube.com/vi/IsDX_LiJT7E/maxresdefault.jpg" alt="">
              <div class="video-play-icon">
                <i class="fa fa-play"></i>
              </div>
            </div>
          </div>
        </div>
      </section> -->
    
      <!-- <section class="bg-success promo">
        <div class="container">
          <h2>Create your own Story</h2>
          <a class="btn btn-outline-default" href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank" role="button">Contribute<i class="fa fa-shopping-cart"></i></a>
        </div>
      </section> -->
      <!-- /main -->















<!-- Map -->
<!-- <div id="map" ></div> -->
<!-- end Map -->

<!-- Search Box -->
<!-- <div class="search-box-wrapper">
    <div class="search-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="search-box map">
                      <form class="example-form" (submit)="search()">
                          <input type="text" placeholder="Search for a street" style="border: 1px solid red; border-radius: 5px" (keyup) = 'locateMe($event)' [formControl]="control" [matAutocomplete]="auto">
                          <button class="btn btn-info">Search</button>
                          <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
                              <a href="/Content/{{street}}"> {{street}} </a>
                              </mat-option>
                          </mat-autocomplete>
                      </form> -->
                    <!-- </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- end Search Box -->


<!-- Page Content -->
<!-- <div id="page-content">  

  
  
</div> -->
<!-- end Page Content -->


















